# --- Secrets & Config ---
# Matches .env anywhere, specifically inside the backend
.env
backend/.env

# --- Python & OS ---
__pycache__/
*.py[cod]
.DS_Store

# --- Environments ---
venv/
.venv/

# --- Database (Your Specific Path) ---
# Ignores all .db files in the project
*.db
# Explicitly ignores your backend database folder content
backend/src/database/*.db

# --- Large Data & Tools ---
data/
mlruns/
.zen/

# --- test files ---
backend/test.py